In [3]:
import pandas as pd

df = pd.read_csv('~/Desktop/GA/Week7/project-4/Data/train.csv')

In [4]:
df.shape

(10506, 12)

In [7]:
df.head(25)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0
5,2007-05-29,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8,2,0
6,2007-05-29,"2500 West Grand Avenue, Chicago, IL 60654, USA",CULEX RESTUANS,25,W GRAND AVE,T046,"2500 W GRAND AVE, Chicago, IL",41.891118,-87.654491,8,1,0
7,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,1,0
8,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,2,0
9,2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",CULEX RESTUANS,11,W CHICAGO,T049,"1100 W CHICAGO, Chicago, IL",41.896282,-87.655232,8,1,0
10,2007-05-29,"2100 North Stave Street, Chicago, IL 60647, USA",CULEX PIPIENS/RESTUANS,21,N STAVE ST,T050,"2100 N STAVE ST, Chicago, IL",41.919343,-87.694259,8,1,0
11,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,2,0
12,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,3,0
13,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0
14,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0
15,2007-05-29,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX RESTUANS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8,1,0
16,2007-05-29,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX RESTUANS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9,3,0
17,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,5,0
18,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX PIPIENS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,1,0
19,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX PIPIENS/RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,1,0
20,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,2,0
21,2007-05-29,"6500 North Oak Park Avenue, Chicago, IL 60631,...",CULEX PIPIENS/RESTUANS,65,N OAK PARK AVE,T143,"6500 N OAK PARK AVE, Chicago, IL",41.999129,-87.795585,8,1,0
22,2007-05-29,"7500 North Oakley Avenue, Chicago, IL 60645, USA",CULEX PIPIENS/RESTUANS,75,N OAKLEY AVE,T148,"7500 N OAKLEY AVE, Chicago, IL",42.017430,-87.687769,8,1,0
23,2007-05-29,"1500 North Long Avenue, Chicago, IL 60651, USA",CULEX RESTUANS,15,N LONG AVE,T153,"1500 N LONG AVE, Chicago, IL",41.907645,-87.760886,8,1,0
24,2007-05-29,"8900 South Carpenter Street, Chicago, IL 60620...",CULEX RESTUANS,89,S CARPENTER ST,T159,"8900 S CARPENTER ST, Chicago, IL",41.732984,-87.649642,8,1,0

In [14]:
df_1 = df.drop(['Address', 'Block','Street','AddressNumberAndStreet','AddressAccuracy'], axis=1)
df_1

,Date,Species,Trap,Latitude,Longitude,NumMosquitos,WnvPresent
0,2007-05-29,CULEX PIPIENS/RESTUANS,T002,41.954690,-87.800991,1,0
1,2007-05-29,CULEX RESTUANS,T002,41.954690,-87.800991,1,0
2,2007-05-29,CULEX RESTUANS,T007,41.994991,-87.769279,1,0
3,2007-05-29,CULEX PIPIENS/RESTUANS,T015,41.974089,-87.824812,1,0
4,2007-05-29,CULEX RESTUANS,T015,41.974089,-87.824812,4,0
5,2007-05-29,CULEX RESTUANS,T045,41.921600,-87.666455,2,0
6,2007-05-29,CULEX RESTUANS,T046,41.891118,-87.654491,1,0
7,2007-05-29,CULEX PIPIENS/RESTUANS,T048,41.867108,-87.654224,1,0
8,2007-05-29,CULEX RESTUANS,T048,41.867108,-87.654224,2,0
9,2007-05-29,CULEX RESTUANS,T049,41.896282,-87.655232,1,0
10,2007-05-29,CULEX PIPIENS/RESTUANS,T050,41.919343,-87.694259,1,0
11,2007-05-29,CULEX PIPIENS/RESTUANS,T054,41.921965,-87.632085,2,0
12,2007-05-29,CULEX RESTUANS,T054,41.921965,-87.632085,3,0
13,2007-05-29,CULEX PIPIENS/RESTUANS,T086,41.688324,-87.676709,1,0
14,2007-05-29,CULEX RESTUANS,T086,41.688324,-87.676709,1,0
15,2007-05-29,CULEX RESTUANS,T091,41.862292,-87.648860,1,0
16,2007-05-29,CULEX RESTUANS,T094,41.720848,-87.666014,3,0
17,2007-05-29,CULEX RESTUANS,T096,41.731922,-87.677512,5,0
18,2007-05-29,CULEX PIPIENS,T096,41.731922,-87.677512,1,0
19,2007-05-29,CULEX PIPIENS/RESTUANS,T129,41.891126,-87.611560,1,0
20,2007-05-29,CULEX RESTUANS,T129,41.891126,-87.611560,2,0
21,2007-05-29,CULEX PIPIENS/RESTUANS,T143,41.999129,-87.795585,1,0
22,2007-05-29,CULEX PIPIENS/RESTUANS,T148,42.017430,-87.687769,1,0
23,2007-05-29,CULEX RESTUANS,T153,41.907645,-87.760886,1,0
24,2007-05-29,CULEX RESTUANS,T159,41.732984,-87.649642,1,0
25,2007-06-05,CULEX PIPIENS/RESTUANS,T002,41.954690,-87.800991,3,0
26,2007-06-05,CULEX RESTUANS,T002,41.954690,-87.800991,5,0
27,2007-06-05,CULEX PIPIENS,T002,41.954690,-87.800991,1,0
28,2007-06-05,CULEX PIPIENS/RESTUANS,T015,41.974089,-87.824812,1,0
29,2007-06-05,CULEX RESTUANS,T015,41.974089,-87.824812,2,0
...,...,...,...,...,...,...,...
10476,2013-09-26,CULEX PIPIENS/RESTUANS,T102,41.750498,-87.605294,2,0
10477,2013-09-26,CULEX RESTUANS,T102,41.750498,-87.605294,1,0
10478,2013-09-26,CULEX PIPIENS,T102,41.750498,-87.605294,1,0
10479,2013-09-26,CULEX PIPIENS,T027,41.984809,-87.728492,5,0
10480,2013-09-26,CULEX PIPIENS/RESTUANS,T221,41.659112,-87.538693,5,0
10481,2013-09-26,CULEX RESTUANS,T221,41.659112,-87.538693,5,0
10482,2013-09-26,CULEX PIPIENS,T221,41.659112,-87.538693,4,0
10483,2013-09-26,CULEX RESTUANS,T009,41.992478,-87.862995,1,0
10484,2013-09-26,CULEX PIPIENS/RESTUANS,T900,41.974689,-87.890615,39,1
10485,2013-09-26,CULEX PIPIENS/RESTUANS,T900,41.974689,-87.890615,4,0
10486,2013-09-26,CULEX PIPIENS,T900,41.974689,-87.890615,16,0
10487,2013-09-26,CULEX PIPIENS,T900,41.974689,-87.890615,9,0
10488,2013-09-26,CULEX PIPIENS,T900,41.974689,-87.890615,11,0
10489,2013-09-26,CULEX PIPIENS,T900,41.974689,-87.890615,1,0
10490,2013-09-26,CULEX PIPIENS/RESTUANS,T222,41.925198,-87.746381,1,0
10491,2013-09-26,CULEX PIPIENS/RESTUANS,T223,41.973845,-87.805059,11,0
10492,2013-09-26,CULEX PIPIENS,T223,41.973845,-87.805059,1,0
10493,2013-09-26,CULEX PIPIENS/RESTUANS,T225,41.743402,-87.731435,3,0
10494,2013-09-26,CULEX PIPIENS/RESTUANS,T227,41.728495,-87.600963,7,0
10495,2013-09-26,CULEX PIPIENS,T227,41.728495,-87.600963,1,0
10496,2013-09-26,CULEX PIPIENS/RESTUANS,T224,41.947227,-87.671457,3,0
10497,2013-09-26,CULEX PIPIENS/RESTUANS,T226,41.793818,-87.654234,8,0
10498,2013-09-26,CULEX PIPIENS/RESTUANS,T230,41.904194,-87.756155,13,0
10499,2013-09-26,CULEX PIPIENS,T230,41.904194,-87.756155,5,0
10500,2013-09-26,CULEX PIPIENS/RESTUANS,T228,41.951866,-87.725057,3,0
10501,2013-09-26,CULEX PIPIENS/RESTUANS,T035,41.763733,-87.742302,6,1
10502,2013-09-26,CULEX PIPIENS/RESTUANS,T231,41.987280,-87.666066,5,0
10503,2013-09-26,CULEX PIPIENS/RESTUANS,T232,41.912563,-87.668055,1,0
10504,2013-09-26,CULEX PIPIENS/RESTUANS,T233,42.009876,-87.807277,5,0
10505,2013-09-26,CULEX PIPIENS/RESTUANS,T235,41.776428,-87.627096,1,0

In [38]:
df_1.Date.groupby(df_1.WnvPresent).value_counts()

WnvPresent  Date
0           2007-08-01    533
            2007-08-15    239
            2007-10-04    183
            2011-07-15    177
            2011-07-25    176
            2013-07-12    175
            2007-08-07    172
            2013-07-19    167
            2007-09-24    165
            2009-07-17    164
            2013-08-01    164
            2007-08-24    161
            2007-08-21    154
            2007-07-11    152
            2013-07-25    151
            2013-08-08    147
            2011-07-11    146
            2009-07-31    138
            2013-08-15    137
            2013-08-22    137
            2011-08-05    135
            2007-08-02    134
            2011-09-12    132
            2009-08-07    131
            2007-09-12    130
            2011-07-29    130
            2007-07-18    128
            2009-09-17    127
            2009-09-25    124
            2007-09-19    122
                         ...
1           2009-08-25      7
            2013-07-12      7
            2011-09-12      6
            2011-09-23      6
            2007-07-25      5
            2007-09-12      5
            2011-08-05      5
            2011-08-19      4
            2011-08-26      4
            2011-09-01      4
            2013-09-26      4
            2007-08-02      3
            2009-09-14      3
            2011-07-25      3
            2011-09-02      3
            2011-09-16      3
            2007-09-06      2
            2007-09-24      2
            2007-10-04      2
            2009-07-24      2
            2009-07-27      2
            2009-08-13      2
            2013-07-25      2
            2007-07-18      1
            2007-08-09      1
            2007-09-19      1
            2009-07-31      1
            2009-09-03      1
            2009-09-25      1
            2013-06-28      1
Name: Date, Length: 148, dtype: int64

In [47]:
df_1['date'] = pd.to_datetime(df['Date'])

In [54]:
wow = df_1.date.groupby(df_1.WnvPresent).value_counts()
wow = pd.DataFrame(wow, index = None)
wow
wow.reset_index(level=['WnvPresent'])

            WnvPresent  date
date
2007-08-01           0   533
2007-08-15           0   239
2007-10-04           0   183
2011-07-15           0   177
2011-07-25           0   176
2013-07-12           0   175
2007-08-07           0   172
2013-07-19           0   167
2007-09-24           0   165
2009-07-17           0   164
2013-08-01           0   164
2007-08-24           0   161
2007-08-21           0   154
2007-07-11           0   152
2013-07-25           0   151
2013-08-08           0   147
2011-07-11           0   146
2009-07-31           0   138
2013-08-15           0   137
2013-08-22           0   137
2011-08-05           0   135
2007-08-02           0   134
2011-09-12           0   132
2009-08-07           0   131
2007-09-12           0   130
2011-07-29           0   130
2007-07-18           0   128
2009-09-17           0   127
2009-09-25           0   124
2007-09-19           0   122
...                ...   ...
2009-08-25           1     7
2013-07-12           1     7
2011-09-12           1     6
2011-09-23           1     6
2007-07-25           1     5
2007-09-12           1     5
2011-08-05           1     5
2011-08-19           1     4
2011-08-26           1     4
2011-09-01           1     4
2013-09-26           1     4
2007-08-02           1     3
2009-09-14           1     3
2011-07-25           1     3
2011-09-02           1     3
2011-09-16           1     3
2007-09-06           1     2
2007-09-24           1     2
2007-10-04           1     2
2009-07-24           1     2
2009-07-27           1     2
2009-08-13           1     2
2013-07-25           1     2
2007-07-18           1     1
2007-08-09           1     1
2007-09-19           1     1
2009-07-31           1     1
2009-09-03           1     1
2009-09-25           1     1
2013-06-28           1     1

[148 rows x 2 columns]

In [62]:
wow = wow.rename({'WnvPresent':'WnvPresent', 'date':'count'}, axis='columns')
wow

                       count
WnvPresent date
0          2007-08-01    533
           2007-08-15    239
           2007-10-04    183
           2011-07-15    177
           2011-07-25    176
           2013-07-12    175
           2007-08-07    172
           2013-07-19    167
           2007-09-24    165
           2009-07-17    164
           2013-08-01    164
           2007-08-24    161
           2007-08-21    154
           2007-07-11    152
           2013-07-25    151
           2013-08-08    147
           2011-07-11    146
           2009-07-31    138
           2013-08-15    137
           2013-08-22    137
           2011-08-05    135
           2007-08-02    134
           2011-09-12    132
           2009-08-07    131
           2007-09-12    130
           2011-07-29    130
           2007-07-18    128
           2009-09-17    127
           2009-09-25    124
           2007-09-19    122
...                      ...
1          2009-08-25      7
           2013-07-12      7
           2011-09-12      6
           2011-09-23      6
           2007-07-25      5
           2007-09-12      5
           2011-08-05      5
           2011-08-19      4
           2011-08-26      4
           2011-09-01      4
           2013-09-26      4
           2007-08-02      3
           2009-09-14      3
           2011-07-25      3
           2011-09-02      3
           2011-09-16      3
           2007-09-06      2
           2007-09-24      2
           2007-10-04      2
           2009-07-24      2
           2009-07-27      2
           2009-08-13      2
           2013-07-25      2
           2007-07-18      1
           2007-08-09      1
           2007-09-19      1
           2009-07-31      1
           2009-09-03      1
           2009-09-25      1
           2013-06-28      1

[148 rows x 1 columns]

In [65]:
virus_present = wow.loc[1]
virus_present

            count
date
2013-08-29     38
2007-08-15     37
2013-08-08     34
2007-08-22     33
2007-08-21     32
2013-09-06     32
2013-08-22     30
2007-08-24     25
2013-09-12     23
2013-08-01     22
2013-08-15     20
2007-08-01     18
2007-08-16     16
2013-07-19     15
2007-08-07     12
2011-08-12     11
2013-09-19     11
2007-09-05     10
2007-08-28      9
2007-09-04      8
2011-07-29      8
2007-08-08      7
2007-08-17      7
2009-08-25      7
2013-07-12      7
2011-09-12      6
2011-09-23      6
2007-07-25      5
2007-09-12      5
2011-08-05      5
2011-08-19      4
2011-08-26      4
2011-09-01      4
2013-09-26      4
2007-08-02      3
2009-09-14      3
2011-07-25      3
2011-09-02      3
2011-09-16      3
2007-09-06      2
2007-09-24      2
2007-10-04      2
2009-07-24      2
2009-07-27      2
2009-08-13      2
2013-07-25      2
2007-07-18      1
2007-08-09      1
2007-09-19      1
2009-07-31      1
2009-09-03      1
2009-09-25      1
2013-06-28      1

In [71]:
virus_present = virus_present.reset_index(level=['date'])

In [72]:
virus_present.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 2 columns):
date     53 non-null datetime64[ns]
count    53 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 928.0 bytes

## 53 DAYS OF WEST NILE VIRUS PRESENCE:

In [73]:
## 53 DATES OF WEST NILE VIRUS PRESENCE:  

virus_present.sort_values(['date'],ascending=False)

         date  count
33 2013-09-26      4
16 2013-09-19     11
8  2013-09-12     23
5  2013-09-06     32
0  2013-08-29     38
6  2013-08-22     30
10 2013-08-15     20
2  2013-08-08     34
9  2013-08-01     22
45 2013-07-25      2
13 2013-07-19     15
24 2013-07-12      7
52 2013-06-28      1
26 2011-09-23      6
38 2011-09-16      3
25 2011-09-12      6
37 2011-09-02      3
32 2011-09-01      4
31 2011-08-26      4
30 2011-08-19      4
15 2011-08-12     11
29 2011-08-05      5
20 2011-07-29      8
36 2011-07-25      3
51 2009-09-25      1
35 2009-09-14      3
50 2009-09-03      1
23 2009-08-25      7
44 2009-08-13      2
49 2009-07-31      1
43 2009-07-27      2
42 2009-07-24      2
41 2007-10-04      2
40 2007-09-24      2
48 2007-09-19      1
28 2007-09-12      5
39 2007-09-06      2
17 2007-09-05     10
19 2007-09-04      8
18 2007-08-28      9
7  2007-08-24     25
3  2007-08-22     33
4  2007-08-21     32
22 2007-08-17      7
12 2007-08-16     16
1  2007-08-15     37
47 2007-08-09      1
21 2007-08-08      7
14 2007-08-07     12
34 2007-08-02      3
11 2007-08-01     18
27 2007-07-25      5
46 2007-07-18      1

In [8]:
df.Species.groupby(df.WnvPresent).value_counts()

WnvPresent  Species
0           CULEX PIPIENS/RESTUANS    4490
            CULEX RESTUANS            2691
            CULEX PIPIENS             2459
            CULEX TERRITANS            222
            CULEX SALINARIUS            86
            CULEX TARSALIS               6
            CULEX ERRATICUS              1
1           CULEX PIPIENS/RESTUANS     262
            CULEX PIPIENS              240
            CULEX RESTUANS              49
Name: Species, dtype: int64

# Test Data Set:

In [11]:
df_test =  pd.read_csv('~/Desktop/GA/Week7/project-4/Data/test.csv')
df_test

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
5,6,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TARSALIS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
6,7,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",UNSPECIFIED CULEX,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
7,8,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX ERRATICUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
8,9,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX PIPIENS/RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
9,10,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
10,11,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX PIPIENS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
11,12,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX SALINARIUS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
12,13,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX TERRITANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
13,14,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX TARSALIS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
14,15,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",UNSPECIFIED CULEX,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
15,16,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX ERRATICUS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
16,17,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
17,18,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
18,19,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
19,20,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX SALINARIUS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
20,21,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX TERRITANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
21,22,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX TARSALIS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
22,23,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",UNSPECIFIED CULEX,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
23,24,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX ERRATICUS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
24,25,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
25,26,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
26,27,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX PIPIENS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
27,28,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX SALINARIUS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
28,29,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX TERRITANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
29,30,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX TARSALIS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
...,...,...,...,...,...,...,...,...,...,...,...
116263,116264,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",CULEX PIPIENS,34,W 77TH ST,T238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,8
116264,116265,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",CULEX SALINARIUS,34,W 77TH ST,T238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,8
116265,116266,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",CULEX TERRITANS,34,W 77TH ST,T238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,8
116266,116267,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",CULEX TARSALIS,34,W 77TH ST,T238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,8
116267,116268,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",UNSPECIFIED CULEX,34,W 77TH ST,T238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,8
116268,116269,2014-10-02,"3400 West 77th Street, Chicago, IL 60652, USA",CULEX ERRATICUS,34,W 77TH ST,T238,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,8
116269,116270,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 63RD PL,T065A,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,9
116270,116271,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 63RD PL,T065A,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,9
116271,116272,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 63RD PL,T065A,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,9
116272,116273,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",CULEX SALINARIUS,51,W 63RD PL,T065A,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,9
116273,116274,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",CULEX TERRITANS,51,W 63RD PL,T065A,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,9
116274,116275,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",CULEX TARSALIS,51,W 63RD PL,T065A,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,9
116275,116276,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",UNSPECIFIED CULEX,51,W 63RD PL,T065A,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,9
116276,116277,2014-10-02,"5100 West 63rd Place, Chicago, IL 60638, USA",CULEX ERRATICUS,51,W 63RD PL,T065A,"5100 W 63RD PL, Chicago, IL",41.777689,-87.749149,9
116277,116278,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,9
116278,116279,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX RESTUANS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,9
116279,116280,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX PIPIENS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,9
116280,116281,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX SALINARIUS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,9
116281,116282,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX TERRITANS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,9
116282,116283,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX TARSALIS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,9
116283,116284,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",UNSPECIFIED CULEX,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,9
116284,116285,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX ERRATICUS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,9
116285,116286,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,8
116286,116287,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,8
116287,116288,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,8
116288,116289,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX SALINARIUS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,8
116289,116290,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX TERRITANS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,8
116290,116291,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX TARSALIS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,8
116291,116292,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",UNSPECIFIED CULEX,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,8
116292,116293,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX ERRATICUS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,8

In [13]:
df_test.Species.value_counts()

CULEX PIPIENS/RESTUANS    15359
CULEX RESTUANS            14670
CULEX PIPIENS             14521
CULEX SALINARIUS          14355
CULEX TERRITANS           14351
CULEX TARSALIS            14347
UNSPECIFIED CULEX         14345
CULEX ERRATICUS           14345
Name: Species, dtype: int64